{# templates/profile/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Édition du profil{% endblock %}

{% block body %}
    <h1>Modifier votre profil</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}

        {{ form_row(form.email) }}
        <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}
{% include 'partials/footer.html.twig' %}

{% endblock %}
