<form method="post" action="{{ path('app_mattch_delete', {'id': mattch.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mattch.id) }}">
    <button class="btn">Delete</button>
</form>
