{% extends 'base.html.twig' %}

{% block title %}Modifier un Match{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-4">Modifier un Match</h1>

        {{ include('mattch/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <div class="mt-3">
            <a href="{{ path('app_mattch_index') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>

        <div class="mt-3">
            {{ include('mattch/_delete_form.html.twig') }}
        </div>
    </div>

    {% include 'partials/footer.html.twig' %}
{% endblock %}
