{% extends 'base.html.twig' %}

{% block title %}Edit Mattch{% endblock %}

{% block body %}
    <h1>Edit Mattch</h1>

    {{ include('mattch/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mattch_index') }}">back to list</a>

    {{ include('mattch/_delete_form.html.twig') }}
{% endblock %}
